set exrc
set guicursor=
set number
set tabstop     =4
set softtabstop =4
set shiftwidth  =4
set expandtab
set smartindent
set relativenumber
set nu
set nohlsearch
set hidden
set noerrorbells
set nowrap
set incsearch
set scrolloff=8
set colorcolumn=80
set signcolumn=yes
set showcmd

set ignorecase
set showmode
set multiple-cursors

nmap gi :action GotoImplementation<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <A-.> :action NextTab<CR>
nnoremap <A-,> :action PreviousTab<CR>

